.layoutProducts {
    overflow-y: auto; 
    padding: 20px 0px;
}

.loaderContainer {
    background-color: rgba(20, 30, 28, .6);
    border-radius: 50rem;
    position: absolute;
    text-align: center;
    width: 31vw;
    height: 31vw;
    z-index: 2;
}

.loaderImg {
    z-index: 22;
}

/* Responsive Breakpoints */
/* Extra small devices */
@media only screen and (max-width: 600px) {
    .layoutProducts {
        overflow-y: scroll; 
        height: 180vw;
    }
}
  
/* Small devices */
@media screen and (max-width: 767px) and (min-width: 600px) {
    .layoutProducts {
        overflow-y: scroll; 
        padding: 20px 0px;
    }
}
  
/* Medium devices */
@media only screen and (max-width: 991px) and (min-width: 768px) {

}
  
/* Large devices */
@media only screen and  (max-width: 1199px) and (min-width: 992px) {
  
}
  
/* Extra large devices */
@media screen and (min-width: 1200px){

}