.background-login {
  background-image: url('../../../assets/img/cafe.png');
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

.form-field {
  width: 100%;
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: 0;
  transition: .2s;
  margin-top: 20px;
}

.form-field:focus {
  border-color: #0f7ef1;
}

input[type="file"] {
  cursor: pointer;
width: 130px;
  height: 42px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 9999;
  
}

input[type="file"] + label {
  padding: 5px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #ac3026;
  display: inline-block;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}