.card, .card img {
    border-radius: 1rem !important;
}

.card-img-overlay {
    top: unset !important;
}

.card-text {
    font-size: 14px;
}

.plus-button {
    position: absolute;
    bottom: -18px;
    right: -18px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    background-color: #f04e39;
    width: 35px;
    height: 35px;
    font-size: 22px;
}