/*Fonts*/
/*Adding a custom fonts*/
@font-face {
    font-family: "Lyons"; 
    src:
    url("../src/assets/fonts/538Lyons\ Rounded.ttf");
}

@font-face {
    font-family: "Futura"; 
    src:
    url("../src/assets/fonts/Futura.ttc");
}

.content {
    position: 'relative';
    margin-top: 12.3rem;
    background-color: rgba(67, 43, 19, .5);
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: .5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}