#mainDiv {
    background-color: transparent;
}

.post {
    display: inline-flex;
    width: 33.3333%;
    height: 400px;
}

@media only screen and (max-width: 767px) {
    .post {
        width: 100%;
    }
}

/* #post1 {
    width:33%;
    min-width:400px;
    min-height:400px;
    flex-grow:1;
}

#post2 {
    width:33%;
    min-width:400px;
    min-height:400px;
    flex-grow:1;
}

#post3 {
    width:33%;
    min-width:400px;
    min-height:400px;
    flex-grow:1;
} */

/* .postDiv {
    height:100%;
} */