@font-face {
    font-family: "Futura"; 
    src:
    url("../../assets/fonts/Futura.ttc");
}

h1 {
    color: #fbf9e5;
    font-weight: bold;
    font-family: 'Futura';
}

.post {
    display: inline-flex;
    width: 33.3333%;
    height: 400px;
}

.titles {
    font-size: 7.5vw;
    position: absolute;
}

.content-section {
    padding: 50px 0px 70vh 0px;
}

.title-acknowledgments {
    font-size: 7.5vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.circleImage {
    height: 20rem;
    width: 20rem;
    border: 1px solid grey;
    white-space: nowrap;
    border-radius: 50rem;
    text-align: center;
    overflow:hidden;
    position: absolute;
}

.circleImage-right {
    right: 0
}

.text-section-acknowledgments {
    position: absolute;
    width: 50vw;
}

.text-section {
    margin-top: 20vh;
    position: absolute;
    width: 40vw;
}

.text-section-right {
    right: 15px;
    text-align: right;
}

.text-section-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.text-section-left {
    left: 15px;
    text-align: left;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.circleImage img {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
}

.btn-more {
    background-color: #f04e39;
    color: #fbf9e5;
}

@media only screen and (max-width: 767px) {
    .post {
        width: 100%;
    }

    .circleImage {
        height: 20rem;
        width: 20rem;
    }

    .circleImage {
        height: 20rem;
        width: 20rem;
        border: 1px solid grey;
        white-space: nowrap;
        border-radius: 50rem;
        text-align: center;
        overflow:hidden;
        position: absolute;
    }
    
    .circleImage-right {
        right: 0
    }

    .titles {
        position: relative;
        text-align: center !important;
        margin-bottom: 20px;
    }
    
    .content-section {
        padding: 50px 0px 50px 0px;
    }
    
    .circleImage {
        position: relative;
    }
    
    .text-section-acknowledgments {
        position: relative;
        width: 100%;
    }
    
    .text-section {
        margin-top: 5vh;
        position: relative;
        width: 100%;
    }

    .text-section-right {
        right: 0;
        text-align: right;
    }
    
    .text-section-left {
        left: 0;
        text-align: left;
    }
}

.postDiv {
    cursor: pointer;
    color: #fff;
    padding: 20px;
    font-size: 15px;
    width: 100%;
    height:100%;
    /* text-shadow: 1px 1px 5px rgb(19, 18, 18); */
}

.postDiv h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Futura';
}

.postDiv p {
    color: #333;
    background-color: #fff;
    padding: 15px;
    margin-top: 18vh;
    border-radius: 25px;
}

.postDiv:hover {
    background-color: rgba(61, 34, 8, .5);
}