/*Fonts*/
/*Adding a custom fonts*/
@font-face {
    font-family: "Lyons"; 
    src:
    url("../../assets/fonts/538Lyons\ Rounded.ttf");
}

.headerChoripaco {
    background-image: url("../../assets/img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    background-attachment: fixed;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.headerChoripaco .headerImage {
    padding: 30px 0px;
    width: 20vh;
}