/*Fonts*/
/*Adding a custom fonts*/
@font-face {
    font-family: "Lyons"; 
    src:
    url("../../assets/fonts/538Lyons\ Rounded.ttf");
}

/*Navbar*/
.navbar {
    width: 100%;
}
  
.navbar-expand-md {
    z-index: 99;
    background: #ae2a18;
    padding: 0;
}

.navbar-expand-md .container .navbar-toggler {
    display: block;
}

.navbar-collapse {
    width: 100%;
    background: transparent;
    position: fixed;
    z-index: 9;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.navbar-collapse ul.navbar-nav {
    position: fixed;
    top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-collapse ul.navbar-nav li {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.58, 0.3, 0.005, 1);
    padding: 0;
    width: 100%;
    float: none;
    height: 24vh;
    position: relative;
    justify-content: center;
}

.navbar-collapse ul.navbar-nav .first{
    background-color: #e8412c;
}

.navbar-collapse ul.navbar-nav .second{
    background-color: #ef7d6f;
}

.navbar-collapse ul.navbar-nav .third{
    background-color: #bc5e52;
}

.navbar-collapse ul.navbar-nav .fourth{
    background-color: #7b1e12;
}

.navbar-collapse ul.navbar-nav li:hover {
    background-color: #ae2a18;
    color: white;
}

.navbar-collapse ul.navbar-nav li a {
    cursor: pointer;
    color: white;
    font-size: 40px;
    padding: 0;
    padding-top: 40px;
    height: 24vh;
}

.navbar-collapse.show {
    min-height: 100vh;
    visibility: visible;
    opacity: 1;
    z-index: 9;
}

.navbar-collapse.show ul li {
    opacity: 1;
}

.navbar-collapse.show ul li:nth-child(1) {
    transition-delay: 0.05s;
}

.navbar-collapse.show ul li:nth-child(2) {
    transition-delay: 0.1s;
}

.navbar-collapse.show ul li:nth-child(3) {
    transition-delay: 0.15s;
}

.navbar-collapse.show ul li:nth-child(4) {
    transition-delay: 0.2s;
}

.navbar-collapse.show ul li:nth-child(5) {
    transition-delay: 0.25s;
}

.navbar-collapse.show ul li:nth-child(6) {
    transition-delay: 0.3s;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler #nav-icon {
    width: 30px;
    height: 22px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    cursor: pointer;
}

.navbar-toggler #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #fff;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}

.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(even) {
    left: 50%;
}

.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(odd) {
    left: 0px;
}

.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
    top: 0px;
}

.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(4) {
    top: 9px;
}

.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(5), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(6) {
    top: 18px;
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1), .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(6) {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2), .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(5) {
    transform: rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
    left: 5px;
    top: 7px;
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(5) {
    left: 5px;
    top: 12px;
}

.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(6) {
    left: calc(50% - 5px);
    top: 12px;
}

.btn-cart {
    background-color: #442a0b;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #fff;
}

.link-cart {
    color: #fff;
    font-family: 'Lyons';
    background-color: transparent;
    border: transparent;
}

.link-cart:hover {
    color: #faf8e3;
}

/* .link-cart:hover {
    background-color: #fff;
    color: #442a0b;
} */

.linkCartImage {
    margin-top: -10px;
    margin-left: -12px;
    width: 60px;
    position: absolute;
    cursor: pointer;
}

.counter {
    position: relative;
    right: -26px;
    top: -16px;
    color: #432b13;
    background-color: #faf8e3;
    padding: 1px 5px;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50rem;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

/* Responsive Breakpoints */
/* Extra small devices */
@media only screen and (max-width: 600px) {
    .counter {
        right: 5px;
        top: -15px;
    }

    .navbar-toggler {
        margin-left: 12px;
    }

    .link-cart {
        margin-right: 65px;
    }

    .linkCartImage {
        position: absolute;
        right: 5px;
    }
}
  
/* Small devices */
@media screen and (max-width: 767px) and (min-width: 600px) {

}
  
/* Medium devices */
@media only screen and (max-width: 991px) and (min-width: 768px) {

}
  
/* Large devices */
@media only screen and  (max-width: 1199px) and (min-width: 992px) {
  
}
  
/* Extra large devices */
@media screen and (min-width: 1200px){

}